<nav>
  
  <div class="container">
    
    <div class="left-header">
      <img class="forklift-icon" src="assets/forklift.png" />
      <p id="title">Olmap</p>  
    </div>
    <div class="right-header">
      <p>{{ clock }}</p>
      <p>{{ getdisDate() }}</p>
      <button id="exit"
      (click)="exitApp()">
        ✕
      </button>
    </div>
  </div>
</nav>
<script>
  const { app } = require('electron')
  document.getElementById('exit').addEventListener('click', () => {
    app.exit()
  })
</script>