@import "https://use.fontawesome.com/releases/v5.15.4/css/all.css";
@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
@import "https://fonts.googleapis.com/css?family=Titillium+Web:300";

.device-list {
  z-index: 2; 
  position: absolute;
  margin: 30px 30px 30px 100px;
  left: -100vw;
  max-height: 40vh;
  overflow-y: auto;
  border: 4px solid #0567a6;
  transition: 0.3s;

  &.is-closed {
    transform: translateX(100vw);
  }
}

.map-layer {
  z-index: 1;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  width: 37vw;
  height: auto;
  margin: 0 auto;
}

th {
  background: #97E5F4;
  color: black;
  opacity: 0.8;
}

td {
  text-align: center;
  /* background: #e8f5f4; */
}

th {
  padding: 3px;
  width: 30px;
}

  /* tr:nth-child(even) {
    background-color: #e8f5f4;
  } */

tr p,
::placeholder {
  font-size: 12px;
}

.coordinate {
  width: 5vw;
}

.status {
  width: 10vw;
}

.view {
  width: 2vw;
}

input[type="checkbox"] {
  zoom: 1.5;
}


.footer {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 3;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

img {
  width: 8vw;
  height: auto;
}

.right-footer {
  float: right;
  margin-right: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}

.left-footer {
  margin-left: 20px;
  margin-bottom: 10px;
  display: grid;
  place-items: end start; /* Aligns item to bottom left */
}

li {
  list-style-type: none;
  margin-top: 5px;
  background-color: #97e5f4;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid #0567a6;
}


#refresh-robot {
  margin: 10px;
  margin-left: 30px;
  margin-top: 100px;
  color: #0567a6;
  position: absolute;
  z-index: 4;
  background-color: #97e5f4;
  border-radius: 10%;
  border: 3px solid #0567a6;
  transition: 0.8s;
  cursor: pointer;
  display: none; /* TODO: Confirm if this is no longer used */
}

.vehicle-item {
  border: 1px solid #0567a6;
  background: #97E5F4;
}

#wholeapp { 
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
}


#toggle-table {
  margin: 20px;
  color: #0567a6;
  position: absolute;
  z-index: 4;
  background-color: #97e5f4;
  border-radius: 10%;
  border: 3px solid #0567a6;
  transition: 0.8s; 
  padding: 5px 8.55px 5px 8.55px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.footer-button {
  margin-top: 5px;
  background-color: #97e5f4;
  padding: 5px;
  border-radius: 10%;
  border: 3px solid #0567a6;
  margin: 5px;
  width: fit-content;
  height: fit-content;
}

.fa-class-button {
  color: #0567a6; cursor: pointer; font-size: 50px;
}


.compass-icon {
  width: 70px;
  height: 70px;
}