<head>
  <script src="https://kit.fontawesome.com/c9d9a9c246.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css"
    type="text/css" />
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>

  <style>
    #map {
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body id="wholeapp">
  <app-header></app-header>

  <!-- <div (click)="refreshPage()" class="burger-table" id="refresh-robot">
    <i class="fa fa-rotate-right"></i>
  </div> -->
  <div (click)="toggleTable()" class="burger-table" id="toggle-table">
    <i class="fa-class-button fa fa-bars"></i>
  </div>

  <div class="device-list">
    <table>
      <tr>
        <th>
          <p>No.</p>
        </th>
        <th>
          <p>Robot Name</p>
        </th>
        <th class="coordinate">
          <p>Latitude</p>
        </th>
        <th class="coordinate">
          <p>Longitude</p>
        </th>
        <th class="status">
          <p>Status</p>
        </th>
        <th class="focus">
          <p>Focus</p>
        </th>
        <th class="view">
          <p>View</p>
        </th>
      </tr>

      <tr *ngFor="let vehc of vehicleList; let i = index" class="vehicle-item" id="vehicle-item-{{ i }}">
        <td [ngStyle]="{ 'background-color': getRandomColorHex(vehc.id) }">
          <p>{{ i + 1 }}</p>
        </td>
        <td [ngStyle]="{ 'background-color': vehc.data.state == 'Working' ? 'D9FEFA' : '#D498A9' }" >
          <p>{{ vehicleList[i].data.vehicleName }}</p>
        </td>
        <td [ngStyle]="{ 'background-color': vehc.data.state == 'Working' ? 'D9FEFA' : '#D498A9' }" class="coordinate">
          <p>{{ vehicleList[i].data.latitude }}</p>
        </td>
        <td [ngStyle]="{ 'background-color': vehc.data.state == 'Working' ? 'D9FEFA' : '#D498A9' }" class="coordinate">
          <p>{{ vehicleList[i].data.longitude }}</p>
        </td>
        <td [ngStyle]="{ 'background-color': vehc.data.state == 'Working' ? 'D9FEFA' : '#D498A9' }">
          <p>{{ vehicleList[i].data.state }}</p>
        </td>
        <td>
          <img (click)="moveFocus(vehc.data.longitude, vehc.data.latitude)" class="focus-icon" src="assets/focus.svg" />
        </td>
        <td>
          <input 
          class="view-checkbox" 
          (click)="viewCheckbox('check-' + i, vehc.id)" 
          type="checkbox" 
          [id]="'check-' + i" 
          checked />
        </td>
      </tr>
    </table>
  </div>

  <div class="footer">
    <div class="left-footer">
      <img class="compass-icon" src="assets/compass.svg" />
    </div>
    <div class="right-footer">
      <div class="footer-container">
        <i (click)="zoomIn()" class="footer-button fa-class-button fa fa-search-plus"></i>
        <i (click)="zoomOut()" class="footer-button fa-class-button fa fa-search-minus"></i>
        <i (click)="captureScreenshot()" class="footer-button fa-class-button fas fa-camera"></i>
      </div>
      <li>&#169; 2024 ITBdeLabo</li>
    </div>
  </div>

  <div class="map-layer" id="map"></div>
  <div class="toast-notification hidden">Lorem Ipsum</div>
</body>